APP_NAME="Rihal"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=rihal_next
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=array
SESSION_LIFETIME=120

SANCTUM_STATEFUL_DOMAINS=localhost:3000,localhost:8000,127.0.0.1:3000,127.0.0.1:8000

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="noreply@rihal.app"
MAIL_FROM_NAME="${APP_NAME}"

QUEUE_CONNECTION=sync
CACHE_DRIVER=array
